{% extends "::base.html.twig" %}
{% block body %}
<div class="content jumbotron">
	{# total items count #}
	<table class="table table-striped table-hover ">
	<tr>
	{# sorting of properties based on query components #}
	    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
	    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
	</tr>

	{# table body #}
	{% for article in pagination %}
	<tr {% if loop.index is odd %}class="color"{% endif %}>
	    <td>{{ article.id }}</td>
	    <td>{{ article.title }}</td>
	</tr>
	{% endfor %}
	</table>
	{# display navigation #}

	<div class="navigation">
	    {{ knp_pagination_render(pagination) }}
	</div>
</div>
{% endblock %}