{% extends "::base.html.twig" %}
{% block body %}
<div class="content jumbotron">

<h3>{{post[0].title}}</h3>
<div>Crée le : {{post[0].created|date('Y-m-d') }}</div>
<div>{{post[0].body}}</div>

<br/>
{{ twitterButton() }}
<br>
{# add comment #}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <p>
            {{ flash }}
        </p>
    {% endfor %}
{% endfor %}
{% if app.user %}
<div>
    <form action="{{ path('post_show',{'slug':slug}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <div>Poster un commentaire</div>
        <div>{{ form_widget(form.text, {'attr': {'class' :'form-control'}}) }}</div>

        <p>
            <input type="submit" value="Ajouter" class="btn btn-primary btn-raised" />
        </p>
        {{ form_rest(form) }}
    </form>
</div>
{% else %}
<div>Vous devez vous identifier pour poster un commentaire</div>
{% endif %}

{# loop comments #}

{% for comment in comments %}
    {% if comment.isPublished == true %}
            <div style="background-color: #eee; padding: 10px;"> {{comment.author.username}}</div>
            <div style="padding:10px;"> {{comment.text}}</div>
            <hr />
    {% endif %}
{% endfor %}
</div>
{% endblock %}
