{% extends "::base.html.twig" %}

{% block body %}
    <h1>Proposer un nouveau post</h1>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <p>
                {{ flash }}
            </p>
        {% endfor %}
    {% endfor %}
    <div>
        <form action="{{ path('esgi_propose') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div>{{ form_widget(form.title, {'attr': {'class' :'form-control', 'placeholder':'titre'}}) }}</div>
            <br/>
            <div>{{ form_widget(form.body, {'attr': {'class' :'form-control', 'placeholder':'corps'}}) }}</div>
            <br/>
            <div>{{ form_widget(form.category, {'attr': {'class' :'form-control'}}) }}</div>
            <p>
                <input type="submit" value="Proposer" class="btn btn-primary btn-raised" style="float: right;"/>
            </p> 
            {{ form_rest(form) }}
        </form>
    </div>
{#    {{ form_widget(form) }}#}
{% endblock %}